<!-- facebook home page -->

{% extends 'basic.html' %}

{% block title %} Index Page {% endblock %}

{% block body %}

<center>
<div style=margin-top:100px;>
<a href="/fbsend">
    <input name="" type="button" value="Send Message" class="btn btn-primary mt-5 ml-5"></th>
</a>
<br>
<a href="#">
	<input name="" type="button" value="Messages" class="btn btn-primary mt-5 ml-5"></th>
</a>
<br>
<a href="#">
	<input name="" type="button" value="Friends" class="btn btn-primary mt-5 ml-5"></th>
</a>
</div>
</center>
{% endblock %}