<!-- facebook message sending page -->

{% extends 'basic.html' %}

{% block title %} Index Page {% endblock %}

{% block body %}
<center>
<form class="mt-5" action="/sendMessage/" method="POST">{% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Friends</label>
    <select class="form-control col-sm-2" name="fname">
    {% for e in friends %}
    <option value = "{{e}}">{{e}}</option>
    	
    	{% endfor %}
    </option>
	</select>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Message</label>
    <input type="text" class="form-control col-sm-2" name="msg">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</center>
{% endblock %}