{% extends 'basic.html' %}

{% block title %} Index Page {% endblock %}

{% block body %}
<!-- Button trigger modal -->

<!-- Modal for Twitter -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tweet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
	        <form action="/tweet/" method="POST">{% csrf_token %}
			  <div class="row">
			    <div class="col">
			      <input type="text" class="form-control" name="tweet">
			    </div>
			  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Post Tweet</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- homepage -->


<center>
	<div style=margin-left:300px;margin-top:100px;>
<table class="table table-borderless table-light mt-5">
  <thead>
    <tr>
    <th scope="col">        <!-- Facebook Button -->
      <a href="/fblogin">
      <input name="" type="button" value="Facebook" class="btn btn-primary mt-5 ml-5"></th>
    	</a>
      <th scope="col">
      	<a href="/insta">        <!-- Instagram Button -->
      		<input name="" type="button" value="Instagram" class="btn btn-danger mt-5 "></th>
      	</a>
    </tr>
  </thead>
  <tbody>
    <tr>                  <!-- GMail Button -->
      <th scope="row">
	    <div class="btn-group dropright mt-5 ml-5">
	  		<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    GMail
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/gmailUnread">Unread</a>
				<a class="dropdown-item" href="/gmailSent">Sent</a>
				<a class="dropdown-item" href="/gmailDraft">Drafts</a>
	  		</div>
		</div>
	  </th>
                        <!-- Twitter Button -->
      <td>
    	<div class="btn-group dropright mt-5">
	  		<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Twitter
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/twitterfriends">Get Friends</a>
					<!-- Button trigger modal -->
					<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
					  Post A Tweet
					</button>
	  		</div>
		</div>
      		
      	                 <!-- Line Button -->
    </tr>
    <tr>
      <th scope="row">
        <div class="btn-group dropright mt-5 ml-5">
        <a href="/linedata">
        <input type="button" value="Line" class="btn btn-primary">
      </a>
    </div>
      
    </th>
              <!-- Skype Button -->
      <td>
      <div class="btn-group dropright mt-5">
        <a href="/skypedata">
        <input type="button" value="Skype" class="btn btn-primary">
      </a>
    </div>
    </tr>
    <tr>
      
    </tr>
  </tbody>
</table>
</div>
</center>
{% endblock %}