<!-- page for getting instagram followers -->

{% extends 'basic.html' %}

{% block title %} Index Page {% endblock %}

{% block body %}

<center>
<div style=margin-top:100px;>
<a href="/instafollower">
    <input name="" type="button" value="Followers" class="btn btn-primary mt-5 ml-5"></th>
</a>
<br>
<a href="/instafollowing">
	<input name="" type="button" value="Following" class="btn btn-primary mt-5 ml-5"></th>
</a>
<br>

</div>
</center>
{% endblock %}