<!-- Instagram login page -->

{% extends 'basic.html' %}

{% block title %} Index Page {% endblock %}

{% block body %}
<center>
<form class="mt-5" action="/instalogin/" method="POST">{% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Email/Username</label>
    <input type="text" class="form-control col-sm-2" name="uname">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control col-sm-2" name="upass">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</center>
{% endblock %}